 <% IF session.logged_in %>
 
  <% END %>
  <ul class=urls>
  <% IF urls.size %>
    <% FOREACH id IN urls.keys.nsort %>
      <li><a href="<% urls.$id.url %>"><% urls.$id.url %></a>
    <% END %>
  <% ELSE %>
    <li><em>Unbelievable.  No entries here so far</em>
  <% END %>
  </ul>
